body {
  background-color: #ffdf3d;
}
.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid #ffdf3d;
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 2px #ffdf3d;
  box-sizing: border-box;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.grey {
  background-color: grey;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.color-hidden {
  background-color: white;
}

.score {
  color: white;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  color: crimson;
}
.header__container {
  justify-content: center;
  display: flex;
  align-self: center;
  text-align: center;
  color: white;
}
.header {
  align-self: center;
  text-align: center;
  color: white;
  width: 300px;
  height: 90px;
  background-image: url("img/Screenshot_2.png");
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  body {
    background-color: #ffdf3d;
  }
  .row {
    text-align: center;
  }

  .card {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid #ffdf3d;
  }

  .card.done {
    cursor: default;
  }

  .card.done:hover {
    cursor: default;
    box-shadow: none;
  }

  .card:hover {
    box-shadow: inset 0px 0px 0px 2px #ffdf3d;
    box-sizing: border-box;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: green;
  }

  .pink {
    background-color: pink;
  }

  .grey {
    background-color: grey;
  }

  .purple {
    background-color: purple;
  }

  .orange {
    background-color: orange;
  }

  .color-hidden {
    background-color: white;
  }

  .score {
    color: white;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    color: crimson;
  }

  .header__container {
    display: flex;
    align-self: center;
    text-align: center;
    color: white;
  }
  .header {
    align-self: center;
    text-align: center;
    color: white;
    width: 300px;
    height: 90px;
    background-image: url("img/Screenshot_2.png");
    text-transform: uppercase;
  }
  .header h1 {
    align-self: center;
    text-align: center;
    color: white;
    width: 300px;
    text-transform: uppercase;
  }
}
