body {
    background-color: black;
}
.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 2px black;
    box-sizing: border-box;
    
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.color-hidden {
    background-color: white;
}

.score {
    background-color: white;
}

